# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Ignore .vs
# Wenn man das Nicht Ignoriert kann es Nicht Funktionieren wegen der "Permission"
.vs/

# Ignoriere Build-Ordner in EasyWords
PraxisArbeit-Modul426/EasyWords/bin/
PraxisArbeit-Modul426/EasyWords/obj/

# Generische Regeln für alle Projekte
bin/
obj/